.carousel {
  overflow: hidden;
  position: relative;
}

.carousel > * {
  position: relative;
  display: none;
}

.carousel > .visible,
.carousel > .prev,
.carousel > .next {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}

.carousel > .prev,
.carousel > .next {
  position: absolute;
}

.carousel > .visible {
  left: 0;
}

.carousel > .prev {
  left: -100%;
}

.carousel > .next {
  left: 100%;
}

.carousel > .carousel-notransition {
  transition: none !important;
}
